<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="exerciseResultsTrueFalse" id="exercise-results-truefalse" class="main-panel">

            <div class="results-container">
                <h1>True / False</h1>
                <p id="truefalse-question-result" th:text="${event.question}"></p>
                <div class="truefalse-results-bar-container">
                    <!-- Titles -->
                    <div id="false-title">False</div>
                    <div id="true-title">True</div>

                    <div class="truefalse-results-bar">
                        <!-- Backgrounds -->
                        <div id="false-results-bg" th:style="${event.answers.size() > 0 ?
                        'width:' + (event.getTotalAnswerMatch('false') * 100 / event.answers.size()) + '%'
                        : 'width: 0%'}"></div>
                        <div id="true-results-bg" th:style="${event.answers.size() > 0 ?
                        'width:' + (event.getTotalAnswerMatch('true') * 100 / event.answers.size()) + '%'
                        : 'width: 0%'}"></div>

                        <!-- Answers -->
                        <div id="false-results" th:text="${event.getTotalAnswerMatch('false')}">0</div>
                        <div id="true-results" th:text="${event.getTotalAnswerMatch('true')}">0</div>
                    </div>
                </div>
            </div>

            <div class="confirmation-footer">
                <button id="truefalse-show-answer" onclick="switchAnswerDisplay()">Show Answer</button>
                <button onclick="endExercise()">End Exercise</button>
            </div>

            <input id="solution" type="hidden" th:value="${event.solution}">
        </div>
    </body>
</html>
