<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="exerciseResultsMultipleChoice" id="exercise-results-multiplechoice" class="main-panel">

            <div class="results-container">
                <h1>Multiple Choice</h1>
                <p id="multiplechoice-question-result" th:text="${event.question}"></p>

                <div id="multiplechoice-options-results">
                    <div class="multiplechoice-option-result" th:each="option, iter : ${event.getOptionsList()}">
                        <p th:id="${'multiplechoice-option-text-' + iter.index }" th:text="${option}"></p>
                        <div class="multiplechoice-option-bar">
                            <div th:id="${'multiplechoice-total-option-bar-' + iter.index}"
                                 class="multiplechoice-option-bar-filled"></div>
                            <div style="position: absolute" th:id="${'multiplechoice-total-option-' + iter.index}">0</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="confirmation-footer">
                <button id="multiplechoice-show-answer" onclick="switchAnswerDisplay()">Show Answer</button>
                <button onclick="endExercise()">End Exercise</button>
            </div>

            <input id="solution" type="hidden" th:value="${event.solutions}">
        </div>
    </body>
</html>
