<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="classroomBoard" class="half-board">
            <h1>Classroom</h1>

            <!-- Students' groups -->
            <div id="student-grid">
            </div>

            <!-- Empty classroom message -->
            <div id="empty-classroom" th:style="${lesson.students.isEmpty() ? 'display: flex;' : 'display: none;'}">
                <img src="/imgs/ic_empty.png" alt="Empty Classroom">
                <div class="emph">No students joined your lesson...</div>
                <button id="shortcut" onclick="openShortcut()" th:disabled="${lesson.open}"
                    th:text="${lesson.open ? 'Entry link copied in your clipboard!' :
                     'Open your lesson and copy entry link to clipboard'}">
                    </button>
            </div>

            <input type="hidden" id="entry-code" th:value="${lesson.entryCode}">
        </div>
    </body>
</html>
