<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <!-- Home panel : Questions, Classroom & Feedbacks -->
        <div th:fragment="homePanel" class="main-panel" style="flex-direction: row;">

            <h1 id="lesson-title" th:text="${lesson.subject}"></h1>

            <div class="half-board-container">
                <!-- Questions -->
                <div th:replace="fragments/teacher/home/question-board :: questionBoard"></div>

                <!-- Classroom -->
                <div th:replace="fragments/teacher/home/classroom-board :: classroomBoard"></div>
            </div>

            <!-- Feedbacks -->
            <div th:replace="fragments/teacher/home/monitoring-board :: monitoringBoard"></div>

        </div>
    </body>
</html>
