<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- For websockets -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <!-- For QR Code -->
    <script src="/webjars/qrcodejs/07f829d/qrcode.min.js"></script>

    <!-- For feedback chart -->
    <script src="/webjars/chartjs/2.9.4/Chart.js"></script>

    <!-- Paper.js for canvas drawing and path simplification -->
    <script th:if="${tab == 'Board' && event != null && event.getType() == T(com.bottin.classboard.models.events.EventType).BOARD}"
            src="/libraries/paper-full.min.js" type="text/javascript"></script>
    <script th:if="${tab == 'Board' && event != null && event.getType() == T(com.bottin.classboard.models.events.EventType).BOARD}"
            type="text/paperscript" src="/js/liveboard-paperscript.js" canvas="myCanvas"></script>

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link th:if="${tab == 'Board' && event != null && event.getType() == T(com.bottin.classboard.models.events.EventType).BOARD}"
          rel="stylesheet" type="text/css" th:href="@{/css/board_style.css}">

    <title th:text="${lesson.subject}"></title>
</head>
<body>

<!-- Loader -->
<div id="loader" class="center-page">
    <div class="lds-ring"><div></div><div></div></div>
</div>

<!-- Navigation Bar -->
<div th:replace="fragments/navigation_menu :: navMenu"></div>

<!-- Page content -->
<div id="page-content" class="center-page" style="display: none;">

    <!-- Home -->
    <div th:if="${tab == 'Home'}">
        <div th:replace="fragments/teacher/home/home-panel :: homePanel"></div>
    </div>

    <!-- Breaks -->
    <div th:if="${tab == 'Break'}" >
         <div th:replace="fragments/teacher/break/break-panel :: breakPanel"></div>
    </div>

    <!-- Exercises -->
    <div th:if="${tab == 'Exercise'}">
        <div th:replace="fragments/teacher/exercises/exercise-panel :: exercisePanel"></div>
    </div>

    <!-- Activities -->
    <div th:if="${tab == 'Activity'}">
        <div th:replace="fragments/teacher/activities/activity-panel :: activityPanel"></div>
    </div>

    <!-- Board -->
    <div th:if="${tab == 'Board'}">
        <div th:replace="fragments/teacher/board/board-panel :: boardPanel"></div>
    </div>

    <!-- Options & More -->
    <div th:if="${tab == 'Options'}">
        <div th:replace="fragments/teacher/options/options-panel :: optionsPanel"></div>
    </div>

</div>

<script src="/js/common-utils.js"></script>
<script src="/js/common-teacher.js"></script>
<script src="/js/teacher/teacher-comms.js"></script>

<!-- Tab specific scripts -->
<script th:if="${tab == 'Home'}"     src="/js/teacher/home-dashboard.js"></script>
<script th:if="${tab == 'Break'}"    src="/js/teacher/break-dashboard.js"></script>
<script th:if="${tab == 'Exercise'}" src="/js/teacher/exercise-dashboard.js"></script>
<script th:if="${tab == 'Activity'}" src="/js/teacher/activity-dashboard.js"></script>
<script th:if="${tab == 'Board'}"    src="/js/teacher/liveboard.js"></script>
<script th:if="${tab == 'Options'}"  src="/js/teacher/options-dashboard.js"></script>

<!-- Thymleaf variables -->
<script>
    // Lesson
    const lesson_id   = "[[${lesson.id}]]";
    const is_open     = "[[${lesson.open}]]";
    const direct_link = "[[${lesson.getDirectLink()}]]";

    // Questions
    const questions_db = "[[${questions}]]";

    // Students
    const groups_db           = "[[${studentGroups}]]";
    const totalStudents       = "[[${lesson.students.size()}]]"
    const students_channel_in = "/lesson/" + lesson_id + "/students";

    // Initialization for all components (changes depending on tab)
    init();
</script>
</body>
</html>