<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <title>classboard</title>
</head>
<body>

<div class="center-page">
    <div class="popup-titles block outside-far">
        <img src="/imgs/error.png" alt="Error">
        <div style="margin-left: 10px;">
            <h1 style="color: var(--errorcolor);">An error occurred</h1>
            <p th:text="${error}"></p>
        </div>
    </div>

    <a href="javascript:history.back()">Go Back</a>
</div>

</body>
</html>