<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/landing_style.css}">

    <title>Welcome to Classboard</title>
</head>
<body style="background-color: white">

<div class="center-page">

    <div class="landing-header">
        <h1>Welcome to Classboard,</h1>
        <p>An online tool to enhance the online teaching experience</p>
    </div>

    <img id="tap-for-more" alt="Tap for more" src="/imgs/tap4more.png">

    <div id="tap-me" class="landing-content" title="Tap me!" onclick="nextPage()">
        <!-- Page 1 -->
        <div class="page">
            <img alt="Classboard" id="landing-logo" src="/imgs/ic_logo_4.0.png">
        </div>

        <!-- Page 2 -->
        <div class="page" style="display: none;">
            <img alt="Online Teaching" src="/imgs/ic_new_lesson.png">
            <h1>Online teaching</h1>
            <p>the way it was supposed to be.</p>
        </div>

        <!-- Page 3 -->
        <div class="page" style="display: none;">
            <img style="background-color: var(--bluetheme)" alt="Share" src="/imgs/ic_share.png">
            <h1>Quick setup</h1>
            <p>Meet your students in no time.</p>
        </div>

        <!-- Page 4 -->
        <div class="page" style="display: none;">
            <img style="background-color: var(--bluetheme)" alt="Monitoring" src="/imgs/ic_feedback.png">
            <h1>Monitoring</h1>
            <p>Never miss out on anything.</p>
        </div>

        <!-- Page 5 -->
        <div class="page" style="display: none;">
            More info coming soon !
        </div>
    </div>
    <div class="landing-footer">
        Already familiar with our work ?<br>
        <a href="/login">Login</a> or <a href="/register">Register</a> here
    </div>

    <p id="copyright">© Classboard 2021</p>
</div>

<script>
    let page = 1;
    const tapBtn = document.getElementById('tap-me');
    const pages = tapBtn.children;

    async function nextPage() {
        document.getElementById('tap-for-more').style.display = "none";

        if(page >= pages.length) {
            page = 1;
        } else {
            page++;
        }

        tapBtn.classList.remove('spin');
        void tapBtn.offsetWidth; // trigger reflow
        tapBtn.classList.add('spin');
        await new Promise(r => setTimeout(r, 300));

        let i;
        for(i = 1; i <= pages.length; i++) {
            pages[i - 1].style.display = i === page ? "flex" : "none";
        }
    }

</script>

</body>
</html>