<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <title>classboard</title>
</head>
<body>

<div class="center-page">
    <form method="POST" th:action="${'/join/' + endpoint}" class="block outside-far">
        <input class="basic-item" type="text" name="code" placeholder="Code" required>
        <button class="basic-item submit-btn" type="submit">Join</button>
    </form>
</div>

</body>
</html>