<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- For websockets -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <!-- Paper.js for canvas drawing and path simplification -->
    <script src="/libraries/paper-full.min.js" type="text/javascript"></script>
    <script type="text/paperscript" src="/js/liveboard-paperscript.js" canvas="myCanvas"></script>

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/board_style.css}">

    <title>Liveboard</title>
</head>
<body>

<!-- =============================== -->
<!-- Popups                          -->
<!-- =============================== -->

<script src="/js/liveboard.js"></script>
<script>
    const lesson_id = "[[${lesson.id}]]";
    const board_id  = "[[${board.id}]]";
    let paths = "[[${paths}]]";
    const pathsCleaned = paths.replaceAll("&quot;",'"');
    console.log(pathsCleaned);
    paths = pathsCleaned; // JSON.parse(pathsCleaned);
    // Connect to websockets
    connect();
</script>
</body>
</html>