<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <title>classboard</title>
</head>
<body>

<div class="center-page">
    <form style="position: relative;" method="POST" action="/login">
        <input id="form-input-username" class="basic-item" type="text" name="username"
               placeholder="Username" title="Please enter your username" required>
        <input id="pass1" class="basic-item" type="password" name="password"
               placeholder="Password" title="Please enter your password" required>
        <button style="margin-bottom: 0;" class="basic-item submit-btn" type="submit">Sign in</button>
        <p th:if="${error != null && !error.isEmpty()}" class="error" th:text="${error}"></p>
        <a href="/register">New here ? Create an account</a>
    </form>
</div>

</body>
</html>