<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <title>classboard</title>
</head>
<body>

<div class="center-page" style="justify-content: normal; overflow: scroll;">

    <div class="profile-container">

        <div class="profile-welcome">
            <h1 style="text-align: center;" th:text="${welcomeText + ', ' + teacher.getFirstName() + ' ' + teacher.getLastName().charAt(0) + '.'}"></h1>
            <p th:text="${'Total lessons : ' + teacher.lessons.size()}"></p>
        </div>

        <!-- Historic -->
        <div class="profile-lessons">
            <div style="display: flex; align-items: center; justify-content: center;">
                <!-- Month title + create new lesson -->
                <div style="margin-bottom: 20px;">
                    <h1 style="text-align: center;" th:text="${month}"></h1>
                    <button onclick="openNewLessonPopup()">Start new lesson</button>
                </div>
            </div>

            <!-- Day of the week -->
            <div class="day-of-week">
                <div>Mo</div>
                <div>Tu</div>
                <div>We</div>
                <div>Th</div>
                <div>Fr</div>
                <div>Sa</div>
                <div>Su</div>
            </div>

            <div class="date-grid" style="margin-bottom: 100px;">
                <div th:each="c: ${calendarDays}" th:style="${c.isInMonth() ? 'background-color: var(--themeShade)' : 'background-color: none'}">
                    <p th:text="${c.getDayOfMonth()}" th:if="${c.isInMonth()}"></p>
                    <div>
                        <div th:each="lesson : ${c.getLessons()}" class="day-lesson">
                            <p th:text="${(lesson.getCreatedDate().getHour() < 10 ? '0' : '') + lesson.getCreatedDate().getHour()
                            + ':' + (lesson.getCreatedDate().getMinute() < 10 ? '0' : '') + lesson.getCreatedDate().getMinute()}"></p>
                            <a class="lesson-link" th:href="${'dashboards/' + lesson.id + '/logs'}" th:text="${lesson.subject}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- =============================== -->
<!-- Popups                          -->
<!-- =============================== -->

<!-- New lesson popup -->
<div th:replace="fragments/popup_new_lesson :: newLesson"></div>

<script src="/js/teacher/profile.js"></script>
</body>
</html>