<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <title>classboard</title>
</head>
<body>

<div class="center-page">
    <form style="position: relative;" method="POST" action="/register">
        <input id="form-input-username" class="basic-item" type="text" name="username" placeholder="Username" required>
        <input id="form-input-first-name" class="basic-item" type="text" name="firstName" placeholder="First name" required>
        <input id="form-input-last-name" class="basic-item" type="text" name="lastName" placeholder="Last name" required>
        <input id="pass1" class="basic-item" type="password" name="password" placeholder="Password"
               oninput="onChangePasswordInput()" required>
        <input id="pass2" class="basic-item" type="password" name="confirmPassword" placeholder="Confirm password"
               oninput="onChangePasswordConfirmationInput()" disabled required>
        <button class="basic-item submit-btn" type="submit">Create new account</button>
        <p th:if="${error != null && !error.isEmpty()}" class="error" th:text="${error}"></p>
        <a href="/login">Already have an account ? Login here</a>
    </form>
</div>

<script src="/js/register.js"></script>
</body>
</html>