<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- For websockets -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <!-- Paper.js for canvas display -->
    <script src="/libraries/paper-full.min.js" type="text/javascript"></script>
    <script type="text/paperscript" src="/js/student-paperscript.js" canvas="myCanvas"></script>

    <!-- For exercise results chart -->
    <script src="/webjars/chartjs/2.9.4/Chart.js"></script>

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <title th:text="${student.lesson.subject}"></title>
</head>
<body>

<!-- Loader -->
<div id="loader" class="center-page">
    <div class="lds-ring"><div></div><div></div></div>
</div>

<!-- Navigation Bar -->
<div th:if="${event == null}">
    <div th:replace="fragments/students_navigation_menu :: navMenu"></div>
</div>

<div th:if="${event == null}"
     id="page-content" class="center-page">

    <!-- Questions -->
    <div th:if="${tab == 'Questions'}">
        <div th:replace="fragments/student/questions-panel :: questionsPanel"></div>
    </div>

    <!-- Feedbacks -->
    <div th:if="${tab == 'Feedbacks'}" >
        <div th:replace="fragments/student/feedbacks-panel :: feedbacksPanel"></div>
    </div>

    <!-- Classroom -->
    <div th:if="${tab == 'Classroom'}">
        <div th:replace="fragments/student/classroom-panel :: classroomPanel"></div>
    </div>

    <!-- Chat -->
    <div th:if="${tab == 'Chat'}">
        <div th:replace="fragments/student/chat-panel :: chatPanel"></div>
    </div>
</div>

<!-- =============================== -->
<!-- Screens                         -->
<!-- =============================== -->
<!-- Screens used for exercises, activities, breaks,... -->

<!-- Breaks -->
<div th:if="${event != null && event.getType() == T(com.bottin.classboard.models.events.EventType).BREAK}">
    <div th:replace="fragments/student/intermissions/break-intermission :: breakScreen"></div>
</div>

<!-- Exercise : True / false -->
<div th:if="${event != null && event.getType() == T(com.bottin.classboard.models.events.EventType).EXERCISE
    && event.getExerciseType() == T(com.bottin.classboard.models.events.ExerciseType).TRUE_FALSE}">
    <div th:replace="fragments/student/intermissions/truefalse-intermission :: truefalseScreen"></div>
</div>

<!-- Exercise : Multiple Choice -->
<div th:if="${event != null && event.getType() == T(com.bottin.classboard.models.events.EventType).EXERCISE
    && event.getExerciseType() == T(com.bottin.classboard.models.events.ExerciseType).MULTIPLE_CHOICE}">
    <div th:replace="fragments/student/intermissions/multiplechoice-intermission :: multiplechoiceScreen"></div>
</div>

<!-- Activity : Youtube Video -->
<div th:if="${event != null && event.getType() == T(com.bottin.classboard.models.events.EventType).ACTIVITY
    && event.getSubtype() == T(com.bottin.classboard.models.events.ActivityType).VIDEO}">
    <div th:replace="fragments/student/intermissions/video-intermission :: youtubeVideoScreen"></div>
</div>

<!-- Activity : Peer Instruction -->
<div th:if="${event != null && event.getType() == T(com.bottin.classboard.models.events.EventType).ACTIVITY
    && event.getSubtype() == T(com.bottin.classboard.models.events.ActivityType).PEER_INSTRUCTION}">
    <div th:replace="fragments/student/intermissions/peer-instruction-intermission :: peerInstructionScreen"></div>
</div>


<!-- Live board -->
<div th:if="${event != null && event.getType() == T(com.bottin.classboard.models.events.EventType).BOARD}">
    <div th:replace="fragments/student/intermissions/board-intermission :: boardScreen"></div>
</div>

<script src="/js/common-utils.js"></script>
<script src="/js/student/student-comms.js"></script>

<!-- Tab specific scripts -->
<script th:if="${tab == 'Questions'}" src="/js/student/questions-dashboard.js"></script>
<script th:if="${tab == 'Chat'}" src="/js/student/chat-dashboard.js"></script>
<script th:if="${tab == 'Feedbacks'}" src="/js/student/feedbacks-dashboard.js"></script>
<script th:if="${tab == 'Classroom'}" src="/js/student/classroom-dashboard.js"></script>

<!-- Events specific scripts -->
<script th:if="${event != null && event.getType() == T(com.bottin.classboard.models.events.EventType).EXERCISE}"
        src="/js/student/exercise-dashboard.js"></script>
<script th:if="${event != null && event.getType() == T(com.bottin.classboard.models.events.EventType).ACTIVITY}"
        src="/js/student/activity-dashboard.js"></script>
<script th:if="${event != null && event.getType() == T(com.bottin.classboard.models.events.EventType).ACTIVITY
    && event.getSubtype() == T(com.bottin.classboard.models.events.ActivityType).VIDEO}"
        src="https://www.youtube.com/iframe_api"></script>
<script th:if="${event != null && event.getType() == T(com.bottin.classboard.models.events.EventType).BOARD}"
        src="/js/student/board-dashboard.js"></script>

<!-- Break script -->
<script th:if="${event != null && event.getType() == T(com.bottin.classboard.models.events.EventType).BREAK}"
        src="/js/student/break-dashboard.js"></script>

<script>
    const student_id       = "[[${student.id}]]";
    const lesson_id        = "[[${student.lesson.id}]]";
    const student_fullname = "[[${student.getFullName()}]]";
    const groups_db        = "[[${studentGroups}]]"
    const students_channel_in  = "/lesson/" + lesson_id + "/students";

    init();
</script>
</body>
</html>