<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- For websockets -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <title th:text="${student.lesson.subject}"></title>
</head>
<body>

<!-- Loader -->
<div id="loader" class="center-page">
    <div class="lds-ring"><div></div><div></div></div>
</div>

<div style="height: 100%; width: 100%; padding: 20px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1 th:text="${'Welcome to ' + student.lesson.subject + '!'}"></h1>
    <p th:text="${'You are entering as ' + student.getFullName() +
        '. Anything you do or say can be seen by the teacher (but only as ' + student.getFullName() + ', so don''t be shy!). Enjoy!'}"></p>

    <div style="display: flex; flex-direction: column">
        <button style="margin-top:20px;" onclick="sendFeedbacks(['M'], true); window.open('../student/', '_self');">Let's goo!</button>
        <button style="margin-top:20px;" onclick="window.open('../student/', '_self');">Got it.</button>
        <button style="margin-top:20px;" onclick="sendFeedbacks(['M'], false); window.open('../student/', '_self');">Ok. PS: I'm already tired.</button>
    </div>
</div>

<script src="/js/student/welcome.js"></script>
<script src="/js/student/student-comms.js"></script>
<script>
    const student_id       = "[[${student.id}]]";
    const lesson_id        = "[[${student.lesson.id}]]";
    const student_fullname = "[[${student.getFullName()}]]";
    const students_channel_in  = "/lesson/" + lesson_id + "/students";

    init();
</script>
</body>
</html>