<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="activityPanel" class="main-panel">

            <div th:if="${event == null}">
                <!-- Step 1 : Choose an activity -->
                <div th:replace="fragments/teacher/activities/activity-announcement :: activityAnnouncement"></div>

                <!-- Step 2 : Confirm (edit) -->
                <div th:replace="fragments/teacher/activities/edits/activity-edit-video :: activityEditVideo"></div>
                <div th:replace="fragments/teacher/activities/edits/activity-edit-peer-instruction :: activityEditPeerInstruction"></div>
            </div>

            <!-- Step 3 : Results (monitoring) -->
            <div th:if="${event != null  && event.getType() == T(com.bottin.classboard.models.events.EventType).ACTIVITY}">
                <!-- Youtube Video -->
                <div th:if="${event.getSubtype() == T(com.bottin.classboard.models.events.ActivityType).VIDEO}">
                    <div th:replace="fragments/teacher/activities/results/activity-results-video :: activityResultsVideo"></div>
                </div>

                <!-- Peer Instruction -->
                <div th:if="${event.getSubtype() == T(com.bottin.classboard.models.events.ActivityType).PEER_INSTRUCTION}">
                    <div th:replace="fragments/teacher/activities/results/activity-results-peer-instruction :: activityResultsPeerInstruction"></div>
                </div>

                <!-- Parameters -->
                <input id="id" type="hidden" th:value="${event.id}">
                <input id="type" type="hidden" th:value="${event.type}">
                <input id="totalStudents" type="hidden" th:value="${event.lesson.students.size()}">
            </div>

            <!-- On going event but not activiy -->
            <div th:if="${event != null && event.getType() != T(com.bottin.classboard.models.events.EventType).ACTIVITY}">
                An event is already ongoing :
                <div th:text="${event.getType()}"></div>
            </div>
        </div>
    </body>
</html>
