<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="chatPanel" id="chat-panel" class="main-panel" style="flex-wrap: nowrap">

    <h1>Neighbour Chat</h1>

    <!-- No neighbour : chat disabled -->
    <div th:if="${student.neighbour == null}" id="no-neighbour-text">No neighbour to chat with :/</div>

    <!-- Has neighbour : chat enabled -->
    <div id="neighbour-chat" class="chat" th:style="${'display: ' + (student.neighbour == null ? 'none' : 'flex')}">

        <!-- Messages -->
        <div id="chat-messages">
            <!-- Messages from database -->
            <div th:each="msg : ${student.getChatMessages()}"
                 th:class="${msg.from.id == student.id ? 'message-right' : 'message-left'}"
                 th:text="${msg.message}">
            </div>

            <div id="welcome-chat" th:text="${student.neighbour == null ? '' : 'Now chatting with ' + student.neighbour.getFullName()}"></div>
        </div>

        <!-- Send input -->
        <form class="one-line-form-container"
              onsubmit="sendChatMessageToNeighbour(); return false;"
              style="width: 100%;">
            <input id="chat-text-input" type="text" placeholder="Type..." required autocomplete="off">
            <button id="chat-send-btn" type="submit" class="validate">Send</button>
        </form>
    </div>

</div>
</body>
</html>
