<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="questionsPanel" id="page-content" class="main-panel">
            <h1>Questions</h1>

            <!-- Questions -->
            <div id="questions-container" class="questions-container">
                <div th:each="question : ${lessonQuestions}"
                     th:id="${question.id}"
                     th:class="${question.student == student ? 'message-right' : 'message-left'}">
                    <div th:text="${question.question}"></div>
                    <div class="answer" th:style="${question.answered ? 'display: block' : 'display: none'}"
                         th:text="${'A: ' + question.answer}"></div>
                </div>
            </div>

            <!-- Author name (Anonymous, student's name, alias,...) -->
            <div class="author-input">
                Sending as : anonymous
            </div>

            <!-- Question input -->
            <form class="one-line-form-container"
                  onsubmit="sendNewQuestion(); return false;">
                <input id="question-input" type="text" placeholder="Ask away!" required autocomplete="off">
                <button id="question-send-btn" type="submit" class="validate">Send</button>
            </form>

            <!-- Feedback popup -->
            <div id="question-feedback-popup" style="display: none;">
                Your question <div id="answered-question-text" class="emph"></div> has been answered with
                <div id="answered-answer-text" class="emph"></div>. Is it more clear now ?

                <div class="confirmation-footer">
                    <button onclick="denyAnsweredQuestion()">Nope</button>
                    <button class="validate" onclick="confirmAnsweredQuestion()">All good!</button>
                </div>
            </div>
        </div>
    </body>
</html>
