<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="activityResultsPeerInstruction" id="activity-results-peer-instruction"
             class="main-panel" th:with="pi_average=${event.getCurrentAverageScore()}">

            <!-- Title (question results) -->
            <div id="activity-results-title" th:if="${event.discussionGroups == ''}">Waiting for students to answer the question...
                <div style="display: inline">
                    <div id="totalAnswered" style="display: inline" th:text="${event.answers.size()}"></div>/
                    <div th:text="${lesson.students.size()}" style="display: inline"></div>
                </div>
            </div>

            <!-- Title (peer discussion) -->
            <div id="activity-results-title" th:if="${event.discussionGroups != ''}">
                Students are discussing their answers in the following groups :
            </div>

            <!-- Results (Question Phase) -->
            <div id="results-container" th:style="${event.discussionGroups == '' ? 'display: block' : 'display: none'}">
                <!-- Markers -->
                <div class="marker">0%</div>
                <div class="marker" style="right: 0">100%</div>

                <!-- Individual averages -->
                <div id="pi-results">
                    <div id="results-average" th:style="${'background-color: var(--vitalitycolor); width: 3px; box-shadow: 0 0 5px var(--vitalitycolor); left:' + pi_average + '%;'}"></div>
                    <div th:each="avg : ${event.getAllScores()}" th:style="${'left: ' + avg + '%'}"></div>
                </div>

                <!-- Overall average -->
                <div class="pi-average">Average :
                    <div id="pi-average" th:text="${pi_average + '%'}"></div></div>
            </div>

            <!-- Results (Peer Discussion Phase) -->
            <div id="results-container" th:style="${event.discussionGroups != '' ? 'display: block' : 'display: none'}">
                <div th:each="group : ${event.getDiscussionGroupsNames()}" class="pi-group">
                    <div th:each="student : ${group}" th:title="${student}" th:style="${student.substring(0, 1) == '$' ?
                         'background-color: var(--vitalitycolor)' : 'background-color: var(--themeShade)'}"
                         th:text="${student.substring(0, 1) == '$' ? student.substring(1, 3) :
                          student.substring(0, 2)}">
                    </div>
                </div>

                <div style="display: flex; justify-content: center; align-items: center;">
                    <div class="pi-dot" style="background-color: var(--vitalitycolor)"></div>
                    <div>Scored more than 70%</div>
                    <div class="pi-dot" style="background-color: var(--themeShade)"></div>
                    <div>Others</div>
                </div>
            </div>

            <!-- Bottom footer (Question Phase : next step) -->
            <div id="pi-footer" class="confirmation-footer" th:style="${event.discussionGroups == '' ? 'display: block' : 'display: none'}">
                <p th:style="${pi_average < 30 ? 'color: var(--vitalitycolor);' : ''}" id="step-a">Average < 30%</p>
                <button th:style="${pi_average < 30 ? 'box-shadow: 0 0 10px var(--vitalitycolor);' : ''}"
                        id="step-a-btn" onclick="restartPeerInstruction()">Restart (revisit the concept before)</button>
                <p th:style="${pi_average >= 30 && pi_average < 70 ? 'color: var(--vitalitycolor);' : ''}" id="step-b">30% < Average < 70%</p>
                <button th:style="${pi_average >= 30 && pi_average < 70 ? 'box-shadow: 0 0 10px var(--vitalitycolor);' : ''}"
                        id="step-b-btn" onclick="startPeerDiscussion()">Start peer discussion</button>
                <p th:style="${pi_average >= 70 ? 'color: var(--vitalitycolor);' : ''}" id="step-c">70% < Average</p>
                <button th:style="${pi_average >= 70 ? 'box-shadow: 0 0 10px var(--vitalitycolor);' : ''}"
                        id="step-c-btn" onclick="endActivity()">End Activity</button>
            </div>

            <!-- Bottom footer (Peer Discussion Phase : next step) -->
            <div class="confirmation-footer" th:style="${event.discussionGroups != '' ? 'display: flex' : 'display: none'}">
                <button onclick="endActivity()">End Activity</button>
                <button onclick="restartPeerInstruction()">Resend Quiz</button>
            </div>

            <input type="hidden" id="solutions" th:value="${event.solutions}">
        </div>
    </body>
</html>
