<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="breakPanel" class="main-panel">

            <div th:if="${event == null}">
                <!-- Step 1 : Announce a break -->
                <div th:replace="fragments/teacher/break/break-announcement :: breakAnnouncement"></div>

                <!-- Step 2 : Confirm -->
                <div th:replace="fragments/teacher/break/break-confirmation :: breakConfirmation"></div>
            </div>

            <div th:if="${event != null &&
                 event.getType() == T(com.bottin.classboard.models.events.EventType).BREAK}">
                <!-- Step 3 : Break in progress -->
                <div th:replace="fragments/teacher/break/break-in-progress :: breakInProgress"></div>

                <input id="end-time" type="hidden" th:value="${event.getPlannedEndDate()}">
            </div>

            <div th:if="${event != null &&
                 event.getType() != T(com.bottin.classboard.models.events.EventType).BREAK}">
                <!-- Another event is already in progress -->
                <div th:text="${'An event of type ' + event.getType() + ' is already in progress...'}"></div>
            </div>

        </div>
    </body>
</html>
