<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="exercisePanel" class="main-panel">

            <div th:if="${event == null}">
                <!-- Step 1 : Choose an exercise -->
                <div th:replace="fragments/teacher/exercises/exercise-announcement :: exerciseAnnouncement"></div>

                <!-- Step 2 : Confirm (edit) -->
                <div th:replace="fragments/teacher/exercises/edits/exercise-edit-truefalse :: exerciseEditTrueFalse"></div>
                <div th:replace="fragments/teacher/exercises/edits/exercise-edit-multiplechoice :: exerciseEditMultipleChoice"></div>
            </div>

            <!-- Step 3 : Results (monitoring) -->
            <div th:if="${event != null && event.getType() == T(com.bottin.classboard.models.events.EventType).EXERCISE}">
                <!-- True / false -->
                <div th:if="${event.getExerciseType() == T(com.bottin.classboard.models.events.ExerciseType).TRUE_FALSE}">
                    <div th:replace="fragments/teacher/exercises/results/exercise-results-truefalse :: exerciseResultsTrueFalse"></div>
                </div>

                <!-- Multiple choice -->
                <div th:if="${event.getExerciseType() == T(com.bottin.classboard.models.events.ExerciseType).MULTIPLE_CHOICE}">
                    <div th:replace="fragments/teacher/exercises/results/exercise-results-multiplechoice :: exerciseResultsMultipleChoice"></div>
                </div>

                <!-- Parameters -->
                <input id="id" type="hidden" th:value="${event.id}">
                <input id="type" type="hidden" th:value="${event.getExerciseType()}">
            </div>

            <!-- On going event but not exercise -->
            <div th:if="${event != null && event.getType() != T(com.bottin.classboard.models.events.EventType).EXERCISE}">
                An event is already ongoing :
                <div th:text="${event.getType()}"></div>
            </div>

        </div>
    </body>
</html>
