<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="optionAccess" id="option-access" class="option-subpanel">

            <div th:if="${lesson.open}">Your lesson is <div class="emph">opened</div>. Any student with the link and the code can get access.</div>
            <div th:if="${!lesson.open}">Your lesson is <div class="emph">closed</div>. Open it to allow students to join with the link and the code</div>

            <!-- Link -->
            <a style="margin-top: 50px;" title="Entry link" target="_blank" th:href="${'/join/' + lesson.entryEndpoint}" th:text="${'classboard.ch/join/' + lesson.entryEndpoint}"></a>
            <!-- QR Code -->
            <div id="qrcode"></div>
            <!-- Code -->
            <div class="code-cell" th:text="${lesson.entryCode}"></div>

            <button th:if="${lesson.open}" onclick="switchAccessLesson()">Close lesson</button>
            <button th:if="${!lesson.open}" onclick="switchAccessLesson()">Open lesson</button>
        </div>
    </body>
</html>
