<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="optionStudentsList" id="option-students-list" class="option-subpanel"
             style="display: none">

            <table>
                <tr>
                    <th>Name</th>
                    <th>Joined at</th>
                    <th>Questions asked</th>
                    <th>Feedback given</th>
                    <th>Exercises answered</th>
                    <th>Neighbour</th>
                </tr>
                <tr th:each="student : ${lesson.students}">
                    <td th:text="${student.getFullName()}"></td>
                    <td th:text="${student.getFormattedJoinedDate()}"></td>
                    <td th:text="${student.questions.size()}"></td>
                    <td th:text="${student.feedbacks.size()}"></td>
                    <td th:text="${student.answers.size()}"></td>
                    <td th:text="${student.neighbour == null ? 'None' : student.neighbour.getFullName()}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>
