<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="optionLogs" id="option-logs" class="option-subpanel"
             style="display: none">
            <a th:href="${lesson.id + '/logs'}">Download Logs</a>
            <table>
                <tr>
                    <th>Time</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                <tr th:each="log : ${logs}" th:style="${'color: ' + log.displayColor}">
                    <td th:text="${(log.date.getHour() < 10 ? '0' : '') + log.date.getHour() + ':' +
                        (log.date.getMinute() < 10 ? '0' : '') + log.date.getMinute()}"></td>
                    <td th:text="${log.type}"></td>
                    <td th:text="${log.description}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>
