<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="multiplechoiceScreen" id="page-content" class="main-panel">

    <h1>Multiple Choice</h1>

    <!-- Exercise -->
    <div class="truefalse-input student-exercise">
        <div class="truefalse-question" th:text="${event.question}"></div>

        <!-- Other students' answers -->
        <div id="multiplechoice-options-results" style="margin: 30px 10px 60px;">
            <div id="multiplechoice-options-students" class="multiplechoice-option-result" th:each="option, iter : ${event.getOptionsList()}"
                 style="display: flex; position: relative; padding-left: 60px;">
                <!-- Checkbox -->
                <label style="left: 20px; top:-10px; right: unset;" class="checkbox bounce">
                    <input th:id="${'option' + iter.index + '-check'}" type="checkbox" onclick="updateMultipleChoiceAnswer()">
                    <svg viewBox="0 0 40 40">
                        <polyline points="10 20 17 28.5 32 12"></polyline>
                    </svg>
                </label>

                <div style="width: 100%">
                    <p th:id="${'multiplechoice-option-text-' + iter.index }" th:text="${option}"></p>
                    <div class="multiplechoice-option-bar">
                        <div th:id="${'multiplechoice-total-option-bar-' + iter.index}"
                             class="multiplechoice-option-bar-filled"></div>
                        <div style="position: absolute" th:id="${'multiplechoice-total-option-' + iter.index}">0</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Send answer -->
    <button id="sendBtn" class="validate" onclick="sendMultipleChoiceAnswer()"
            th:disabled="${student.hasAnswered(event)}"
        th:text="${student.hasAnswered(event) ? 'Your answer has been sent! The results will appear once the exercise is over.'
         : 'Send answer'}"></button>

    <!-- Go back to main panels by giving a feedback -->
    <div style="display: none" id="feedback_panel">
        <button onclick="sendExerciseFeedback(1)">Easy peasy lemon squeezy!</button>
        <button onclick="sendExerciseFeedback(2)">Got it.</button>
        <button onclick="sendExerciseFeedback(3)">That was too hard...</button>
    </div>

    <!-- Parameters -->
    <input id="id" type="hidden" th:value="${event.id}">
    <input id="total-participants" type="hidden" th:value="${event.lesson.students.size()}">
</div>
</body>
</html>
