<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="peerInstructionScreen" id="page-content" class="main-panel" style="display: flex; flex-wrap: nowrap;">

    <h1 id="pi-title">Peer Instruction</h1>

    <!-- Individual question -->
    <div th:if="${event.discussionGroups == ''}" style="width: 50%;">
        <!-- Exercise -->
        <div class="truefalse-input student-exercise" style="width: 100%;">
            <div class="truefalse-question" th:text="${event.question}"></div>

            <!-- Other students' answers -->
            <div id="multiplechoice-options-results" style="margin: 30px 10px 60px;">
                <div id="multiplechoice-options-students" class="multiplechoice-option-result"
                     th:each="option, iter : ${event.getOptionsList()}"
                     style="display: flex; position: relative; padding-left: 60px;">
                    <!-- Checkbox -->
                    <label style="left: 20px; top:-10px; right: unset;" class="checkbox bounce">
                        <input th:id="${'option' + iter.index + '-check'}" type="checkbox" onclick="updateMultipleChoiceAnswer()">
                        <svg viewBox="0 0 40 40">
                            <polyline points="10 20 17 28.5 32 12"></polyline>
                        </svg>
                    </label>

                    <div style="width: 100%">
                        <p th:id="${'multiplechoice-option-text-' + iter.index }" th:text="${option}"></p>
                        <div class="multiplechoice-option-bar">
                            <div th:id="${'multiplechoice-total-option-bar-' + iter.index}"
                                 class="multiplechoice-option-bar-filled"></div>
                            <div style="position: absolute" th:id="${'multiplechoice-total-option-' + iter.index}">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Send answer -->
        <button id="sendBtn" class="validate" onclick="sendAnswer()" th:with="answered=${student.hasSendContent(event)}"
                th:disabled="${answered}"
                th:text="${answered ? 'Your answer has been sent! The results will appear once the activity is over.'
            : 'Send answer'}"></button>
    </div>

    <!-- Peer Discussion -->
    <div th:if="${event.discussionGroups != ''}" style="height: 100%; width: 300px; display: flex; flex-direction: column;">
        <div id="chat-messages">
            <div id="welcome-chat" th:text="${'Now chatting with ' + event.getGroupMembers(student.id)}"></div>
        </div>

        <!-- Send input -->
        <form class="one-line-form-container"
              onsubmit="sendChatMessageToDiscussionGroup(); return false;"
              style="width: 100%;">
            <input id="chat-text-input" type="text" placeholder="Type..." required autocomplete="off">
            <button id="chat-send-btn" type="submit" class="validate">Send</button>
        </form>
    </div>

    <!-- Parameters -->
    <input id="id" type="hidden" th:value="${event.id}">
    <input id="total-participants" type="hidden" th:value="${event.lesson.students.size()}">
</div>
</body>
</html>
