<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="truefalseScreen" id="page-content" class="main-panel">

    <h1>True / False</h1>

    <!-- Exercise -->
    <div class="truefalse-input student-exercise">
        <div class="truefalse-question" th:text="${event.question}"></div>

        <!-- Other students' answers -->
        <div class="truefalse-results-bar-container" style="margin: 30px 10px 60px;">
            <!-- Titles -->
            <div id="false-title">False</div>
            <div id="true-title">True</div>

            <div class="truefalse-results-bar">
                <!-- Backgrounds -->
                <div id="false-results-bg" th:style="${event.answers.size() > 0 ?
                'width:' + (event.getTotalAnswerMatch('false') * 100 / event.answers.size()) + '%'
                : 'width: 0%'}"></div>
                <div id="true-results-bg" th:style="${event.answers.size() > 0 ?
                'width:' + (event.getTotalAnswerMatch('true') * 100 / event.answers.size()) + '%'
                : 'width: 0%'}"></div>

                <!-- Answers -->
                <div id="false-results" th:text="${event.getTotalAnswerMatch('false')}">0</div>
                <div id="true-results" th:text="${event.getTotalAnswerMatch('true')}">0</div>
            </div>
        </div>

        <!-- Student's answer options -->
        <div class="truefalse-footer">
            <button id="false" onclick="selectTrueFalseAnswer(false)">False</button>
            <button id="true" onclick="selectTrueFalseAnswer(true)">True</button>
        </div>
    </div>

    <!-- Send answer -->
    <button id="sendBtn" class="validate" style="display: none" onclick="sendTrueFalseAnswer()"
            th:disabled="${student.hasAnswered(event)}"
        th:text="${student.hasAnswered(event) ? 'Your answer has been sent! The results will appear once the exercise is over.'
         : 'Send answer'}"></button>

    <!-- Go back to main panels by giving a feedback -->
    <div style="display: none" id="feedback_panel">
        <button onclick="sendExerciseFeedback(1)">Easy peasy lemon squeezy!</button>
        <button onclick="sendExerciseFeedback(2)">Got it.</button>
        <button onclick="sendExerciseFeedback(3)">That was too hard...</button>
    </div>

    <!-- Go back to main panels -->
    <!--<button id="goBackBtn" style="display: none" onclick="location.reload()">Go back to the lesson</button>-->

    <!-- Parameters -->
    <input id="id" type="hidden" th:value="${event.id}">
    <input id="total-participants" type="hidden" th:value="${event.lesson.students.size()}">
</div>
</body>
</html>
