<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="boardPanel" class="main-panel">

            <div th:if="${event == null}">
                <!-- Step 1 : Start a board -->
                <button onclick="startNewBoardSession()">Start a board</button>
            </div>

            <!-- Step 3 : Results (monitoring) -->
            <div th:if="${event != null  && event.getType() == T(com.bottin.classboard.models.events.EventType).BOARD}">
                <canvas id="myCanvas" resize></canvas>

                <div class="toolbox">
                    <button id="endLiveboardButton" onclick="openExitPopup()">
                        <img style="height: 20px; width: 20px;" src="/imgs/ic_cross.png" alt="Close and Save" title="Close and Save">
                    </button>
                    <button class="pen-size" onclick="document.getElementById('penSizeSliderContainer').style.display = 'flex'">
                        <div id="actualPenSize"></div>
                    </button>
                    <div id="penSizeSliderContainer" class="pen-size-slider">
                        <p id="penSizeValue">2px</p>
                        <input type="range" min="1" max="10" value="1" class="slider" id="penSize" oninput="updatePenSize()">
                    </div>

                    <div class="colors">
                        <input type="hidden" id="currentColor" value="black">
                        <button class="pen-color" id="black" onclick="changePenColor('#000000')"></button>
                        <button class="pen-color" id="red"   onclick="changePenColor('#DA482D')"></button>
                        <button class="pen-color" id="green" onclick="changePenColor('#6FD63B')"></button>
                        <button class="pen-color" id="blue"  onclick="changePenColor('#00ccff')"></button>
                    </div>
                </div>

                <!-- End board session popup -->
                <div th:replace="fragments/popup_confirmation_endboard :: confirmationEndBoard"></div>

                <input id="id" type="hidden" th:value="${event.id}">
            </div>

            <!-- On going event but not activiy -->
            <div th:if="${event != null && event.getType() != T(com.bottin.classboard.models.events.EventType).BOARD}">
                An event is already ongoing :
                <div th:text="${event.getType()}"></div>
            </div>
        </div>
    </body>
</html>
