<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="navMenu">
            <div class="nav-menu">
                <!-- Home -->
                <a id="tab-home" class="tab-button" title="Home"
                   th:style="${tab == 'Home' ?
                   'background-color: var(--claritycolor); box-shadow: 0 0 20px var(--claritycolor);' : ''}"
                   th:href="${'/dashboards/' + lesson.id}">
                    <img th:style="${tab == 'Home' ? 'filter: none;' : ''}" src="/imgs/ic_home.png" alt="Home">
                </a>

                <!-- Break -->
                <a id="tab-break" class="tab-button" title="Break"
                   th:style="${tab == 'Break' ?
                   'background-color: var(--motivationcolor); box-shadow: 0 0 20px var(--motivationcolor);' : ''}"
                   th:href="${'/dashboards/' + lesson.id + '?tab=Break'}">
                    <img th:style="${tab == 'Break' ? 'filter: none;' : ''}" src="/imgs/ic_break.png" alt="Break">
                    <div id="ongoing-break" class="ongoing-dot"
                         th:style="${event != null && event.getType() ==
                         T(com.bottin.classboard.models.events.EventType).BREAK ?
                            'display: block' : 'display: none'}"></div>
                </a>

                <!-- Exercises -->
                <a id="tab-exercise" class="tab-button" title="Exercises"
                   th:style="${tab == 'Exercise' ?
                   'background-color: var(--interactivitycolor); box-shadow: 0 0 20px var(--interactivitycolor);' : ''}"
                   th:href="${'/dashboards/' + lesson.id + '?tab=Exercise'}">
                    <img th:style="${tab == 'Exercise' ? 'filter: none;' : ''}" src="/imgs/ic_exercise.png" alt="Exercises">
                    <div id="ongoing-exercise" class="ongoing-dot"
                         th:style="${event != null && event.getType() ==
                         T(com.bottin.classboard.models.events.EventType).EXERCISE ?
                            'display: block' : 'display: none'}"></div>
                </a>

                <!-- Activities -->
                <a id="tab-activity" class="tab-button" title="Activities"
                   th:style="${tab == 'Activity' ?
                   'background-color: var(--vitalitycolor); box-shadow: 0 0 20px var(--vitalitycolor);' : ''}"
                   th:href="${'/dashboards/' + lesson.id + '?tab=Activity'}">
                    <img th:style="${tab == 'Activity' ? 'filter: none;' : ''}" src="/imgs/ic_activity.png" alt="Activities">
                    <div id="ongoing-activity" class="ongoing-dot"
                         th:style="${event != null && event.getType() ==
                         T(com.bottin.classboard.models.events.EventType).ACTIVITY ?
                            'display: block' : 'display: none'}"></div>
                </a>

                <!-- Live board -->
                <a id="tab-board" class="tab-button" title="Board"
                   th:style="${tab == 'Board' ?
                   'background-color: var(--claritycolor); box-shadow: 0 0 20px var(--claritycolor);' : ''}"
                   th:href="${'/dashboards/' + lesson.id + '?tab=Board'}">
                    <img th:style="${tab == 'Board' ? 'filter: none;' : ''}" src="/imgs/ic_board.png" alt="Board">
                    <div id="ongoing-board" class="ongoing-dot"
                         th:style="${event != null && event.getType() ==
                         T(com.bottin.classboard.models.events.EventType).BOARD ?
                            'display: block' : 'display: none'}"></div>
                </a>

                <!-- Options -->
                <a id="tab-options" class="tab-button" title="Options & More"
                   th:style="${tab == 'Options' ?
                   'background-color: #BBBABB; box-shadow: 0 0 20px white;' : ''}"
                   th:href="${'/dashboards/' + lesson.id + '?tab=Options'}">
                    <img th:style="${tab == 'Options' ? 'filter: none;' : ''}" src="/imgs/ic_options.png" alt="Options">
                </a>
            </div>
        </div>
    </body>
</html>
