<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="navMenu">
            <div class="nav-menu">
                <!-- Questions -->
                <a id="tab-questions" class="tab-button" title="Questions"
                   th:style="${tab == 'Questions' ?
                   'background-color: var(--claritycolor); box-shadow: 0 0 20px var(--claritycolor);' : ''}"
                   th:href="${'/student'}">
                    <img th:style="${tab == 'Questions' ? 'filter: none;' : ''}" src="/imgs/ic_questions.png" alt="Questions">
                </a>

                <!-- Manual Feedbacks -->
                <a id="tab-feedbacks" class="tab-button" title="Feedbacks"
                   th:style="${tab == 'Feedbacks' ?
                   'background-color: var(--claritycolor); box-shadow: 0 0 20px var(--claritycolor);' : ''}"
                   th:href="${'/student?tab=Feedbacks'}">
                    <img th:style="${tab == 'Feedbacks' ? 'filter: none;' : ''}" src="/imgs/ic_manual_feedback.png" alt="Feedbacks">
                </a>

                <!-- Classroom -->
                <a id="tab-classroom" class="tab-button" title="Classroom"
                   th:style="${tab == 'Classroom' ?
                   'background-color: var(--claritycolor); box-shadow: 0 0 20px var(--claritycolor);' : ''}"
                   th:href="${'/student?tab=Classroom'}">
                    <img th:style="${tab == 'Classroom' ? 'filter: none; ' : ''}" src="/imgs/ic_students_2.png" alt="Classroom">
                </a>

                <!-- Neighbour Chat -->
                <a id="tab-chat" class="tab-button" title="Chat"
                   th:style="${tab == 'Chat' ?
                   'background-color: var(--claritycolor); box-shadow: 0 0 20px var(--claritycolor);' : ''}"
                   th:href="${'/student?tab=Chat'}">
                    <img th:style="${tab == 'Chat' ? 'filter: none;' : ''}" src="/imgs/ic_chat.png" alt="Chat">
                </a>
            </div>
        </div>
    </body>
</html>
