/**
 * ==========================================================================
 * = HEIG-VD, BACHELOR THESIS OF 2021                                       =
 * ==========================================================================
 * Subject     : enhancing online teaching through hyper interactive
 *               website application
 * Author      : Stéphane Bottin
 * Supervisor  : Marcel Graf
 *
 * File        : board_style.css
 * Description : Main styles for the drawing board panel
 */

.monitor-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
}

.toolbox {
    display: flex;
    width: 200px;
    height: 30px;
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    justify-content: space-between;
    background-color: var(--themeShade);
    border-radius: 0 0 10px 10px;
    align-items: center;
}

.pen-size {
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    margin-left: 5px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.pen-size-slider {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 35px;
    width: 200px;
    padding: 5px 10px 5px 10px;
    gap: 10px;
    border-radius: 5px;
}

#actualPenSize {
    width: 1px;
    height: 1px;
    background-color: white;
    border-radius: 50px;
}

.colors {
    display: flex;
    align-items: center;
    margin-right: 5px;
    gap: 5px;
}

.pen-color {
    width: 20px;
    height: 20px;
    border: 2px solid white;
}

.pen-color:hover {
    transform: scale(1.5) translateY(3px);
}

#penSizeValue {
    color: white;
}

#black {
    background-color: black;
}

#green {
    background-color: #6FD63B;
}

#blue {
    background-color: #00ccff;
}

#red {
    background-color: #DA482D;
}

#board-name, #teacher-answer {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    padding: 10px;
}

.close-board-button {
    width: 80px;
}

#endLiveboardButton {
    background: none;
    padding: 0;
    margin-left: 5px;
}

#save-board {
    background-color: var(--claritycolor);
    color: white;
    margin-left: 5px;
}