/**
 * ==========================================================================
 * = HEIG-VD, BACHELOR THESIS OF 2021                                       =
 * ==========================================================================
 * Subject     : enhancing online teaching through hyper interactive
 *               website application
 * Author      : Stéphane Bottin
 * Supervisor  : Marcel Graf
 *
 * File        : landing_style.css
 * Description : Styles for the landing page
 */

:root {
    /* Theme */
    --textColor: #909090;
    --emphTextColor: #474747;
    --placeholderColor: #909090;
    --backgroundtheme: #e3e3e3;
    --backgroundthemeSemiDark: #d8d8d8;
    --backgroundthemeDark: #b3b3b3;
    --darkShadow: #0000001f;
    --lightShadow: #ffffff94;
    --bluetheme: #00ccff;
    --bluethemeDark: #00b7e4;
    --bluethemeLight: #3ed8ff;
    --buttonBasic: #efefef;
    --buttonLight: #d5d5d5;
    --buttonDark: #a4a4a4;
    --buttonShadowLight: white;
    --buttonShadowDark: #bbbbbb;
    --buttonInsetLight: #ffffff38;
    --buttonInsetDark: #00000029;
    /* Interactions */
    --motivationcolor: #EF932D;
    --motivationcolordark: #e27602;
    --motivationcolorhalo: #ef932da8;
    --motivationcolorlight: #ffca90;
    --interactivitycolor: #76D513;
    --interactivitycolordark: #37bf05;
    --interactivitycolorhalo: #37bf05a8;
    --interactivitycolorlight: #b2ff64;
    --claritycolor: #23A0EB;
    --claritycolordark: #009af8;
    --claritycolorhalo: #009af8a8;
    --claritycolorlight: rgba(99, 195, 255);
    --vitalitycolor: #C631F0;
    --vitalitycolordark: #9e0ec7;
    --vitalitycolorhalo: #9e0ec7a8;
    --vitalitycolorlight: rgb(219, 99, 255);
    /* Other */
    --oncolor: #a1e507;
    --offcolor: #d43b3b;
    --errorcolor: #ff4747;
    --errorcolorLight: #ff7e7e;
    --errorcolorDark: #ae3939;
    --qrColor: #000;
}

html {
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
}

body {
    background-color: var(--backgroundtheme);
    height: 100%;
    width: 100%;
    color: var(--textColor);
}

img {
    pointer-events: none;
    user-select: none;
}

a {
    color: var(--textColor);
    text-decoration: underline;
}

a:hover {
    color: var(--bluetheme);
    text-shadow: 0 0 10px #00ccff2b;
}

.center-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.landing-header {
    margin-bottom: 40px;
    text-align: center;
    color: #4c4c4c;
}

.landing-header h1 {
    margin: 0;
}

.landing-content {
    height: 300px;
    width: 300px;
    position: relative;
    cursor: pointer;
}

#landing-logo {
    height: 100%;
}

#tap-for-more {
    position: absolute;
    width: 200px;
    left: calc(50% + 160px);
    top: calc(50% - 100px);
}

.page {
    position: absolute;
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page:hover img {
    box-shadow: 0 0 10px #00000030;
}

.page img {
    height: 100px;
    border-radius: 100px;
    transition-duration: 200ms;
}

.page h1 {
    position: absolute;
    bottom: calc(50% - 80px);
    margin: 0;
    font-size: 26px;
    color: var(--bluetheme);
}

.page p {
    position: absolute;
    bottom: calc(50% - 110px);
    font-weight: bold;
    font-size: 14px;
    color: #4c4c4c;
    text-align: center;
}

.landing-footer {
    color: #4c4c4c;
    text-align: center;
    margin-top: 40px;
}

.landing-footer a {
    color: var(--bluetheme);
    text-decoration: none;
}

#copyright {
    position: absolute;
    bottom: 10px;
}

.spin {
    animation: spin 600ms ease-in-out;
}

@keyframes spin {
    0%   { }
    50%  { filter: blur(5px); }
    100% {
        filter: blur(0px);
        transform:rotate(360deg);
    }
}