/**
 * ==========================================================================
 * = HEIG-VD, BACHELOR THESIS OF 2021                                       =
 * ==========================================================================
 * Subject     : enhancing online teaching through hyper interactive
 *               website application
 * Author      : Stéphane Bottin
 * Supervisor  : Marcel Graf
 *
 * File        : style.css
 * Description : Main styles for the web application
 */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

:root {
    /* Theme */
    --themeShadeSuperLight: #000000;
    --themeShadeLight: #838b9e;
    --themeShade: #c4cfe8;
    --themeShadeDark: #e9ebfa;
    --themeShadeBackground: #f1f1ff;
    /* Interactions */
    --motivationcolor: #EF932D;
    --interactivitycolor: #76D513;
    --claritycolor: #23A0EB;
    --vitalitycolor: #C631F0;
    /* Logs */
    --endExerciseLogColor: #ff8888;
    --feedbackLogColor: #1ddea7;
    --creationLogColor: #2fd752;
    --questionAnsweredLogColor: #2a87ec;
    --studentJoinedLogColor: #b9ee2d;
    /* Feedbacks */
    --positiveFeedback: #00c4f3;
    --negativeFeedback: #e7e7e7;
    /* Specifics */
    --falseHover: #ff8888;
    --trueHover: #c3f38c;
}

/* Night Mode */
[data-theme="night"] {
    /* Theme */
    --themeShadeSuperLight: #FFFFFF;
    --themeShadeLight: #7C8AAF;
    --themeShade: #4B5469;
    --themeShadeDark: #292A32;
    --themeShadeBackground: #202025;
}

::placeholder {
    color: var(--themeShadeLight);
    opacity: 1; /* Firefox */
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--themeShadeLight);
    font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--themeShadeLight);
    font-style: italic;
}

html {
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
}

body {
    background-color: var(--themeShadeBackground);
    height: 100%;
    width: 100%;
    color: var(--themeShade);
}

canvas[resize] {
    width: 100%;
    height: 100%;
    cursor: crosshair;
}

#myCanvas {
    display: block;
    background-color: white;
    border-radius: 20px;
}

h1 {
    margin: 0;
    color: var(--themeShade);
    text-align: start;
    font-size: 1.2em;
}

img {
    pointer-events: none;
    user-select: none;
}

a {
    font-size: 18px;
    text-decoration: underline;
    color: var(--themeShadeLight);
    transition-duration: 200ms;
}

p {
    font-size: 18px;
}

a:hover {
    color: var(--themeShadeSuperLight);
}

.emph {
    display: inline;
    color: var(--themeShadeLight);
}

button {
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid transparent;
    background: var(--themeShadeDark);
    transition-duration: 200ms;
    padding: 10px;
    color: var(--themeShade);
}

button:hover {
    border: 1px solid var(--themeShadeLight);
    color: var(--themeShadeLight);
}

button:disabled,
button[disabled] {
    background: var(--themeShadeBackground);
    color: var(--themeShade);
    font-style: italic;
}

button:disabled:hover,
button[disabled]:hover {
    border: none;
}

button img, a img {
    filter: brightness(0) saturate(100%) invert(59%) sepia(12%)
    saturate(904%) hue-rotate(186deg) brightness(89%) contrast(89%);
    width: 50px;
    height: 50px;
}

button:hover img, a:hover img {
    filter: none;
}

textarea {
    resize: none;
    outline: none;
    border: none;
    background-color: var(--themeShadeDark);
    padding: 10px;
    margin-bottom: 30px;
    color: var(--themeShadeSuperLight);
    border-radius: 20px;
}

p {
    margin: 0;
}

.center-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
}

/* === TABLES === */
td, th {
    text-align: start;
}


/* === NAVIGATION MENU === */

.nav-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 20px;
    height: 100%;
    z-index: 9999;
}

.tab-button {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: var(--themeShadeDark);
    border-radius: 50px;
    cursor: pointer;
    margin: 5px;
    position: relative;
}

.tab-button:hover {
    background-color: var(--claritycolor);
    box-shadow: 0 0 20px var(--claritycolor);
}

#tab-home:hover {
    background-color: var(--claritycolor);
    box-shadow: 0 0 20px var(--claritycolor);
}

#tab-break:hover {
    background-color: var(--motivationcolor);
    box-shadow: 0 0 20px var(--motivationcolor);
}

#tab-exercise:hover {
    background-color: var(--interactivitycolor);
    box-shadow: 0 0 20px var(--interactivitycolor);
}

#tab-activity:hover {
    background-color: var(--vitalitycolor);
    box-shadow: 0 0 20px var(--vitalitycolor);
}

#tab-options:hover {
    background-color: #BBBABB;
    box-shadow: 0 0 20px white;
}

/* === PANELS === */

.main-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: scroll;
}

.main-panel h1 {
    margin-top: 10px;
}

/* === BOARDS === */

.half-board-container {
    width: calc(50% - 10px);
    margin-right: 10px;
    min-width: 300px;
    max-width: 350px;
}

.half-board {
    width: 100%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--themeShadeDark);
    border-radius: 20px;
}

.board {
    width: calc(50% - 20px);
    height: 410px;
    position: relative;
    padding: 10px;
    display: flex;
    margin-right: 20px;
    background-color: var(--themeShadeDark);
    border-radius: 20px;
}

/* === PRESETS === */

.preset-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.preset-container button {
    position: relative;
    border-radius: 50px;
    height: fit-content;
    padding: 15px;
    margin: 10px 10px 30px;
}

.preset-container button img {
    width: 70px;
    height: 70px;
}

.preset-container button p {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    text-align: center;
}

.preset-container button:hover p {
    color: var(--themeShadeSuperLight);
}

/* === BREAKS === */

.break-presets > button:hover {
    background-color: var(--motivationcolor);
    box-shadow: 0 0 20px var(--motivationcolor);
    border: 1px solid transparent;
}

.other-preset:hover img {
    filter: blur(5px);
}

.preset-container button input {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    text-align: center;
    background-color: transparent;
    border-radius: 50px;
    color: white;
    font-size: 34px;
    font-weight: bold;
}

#time-left {
    font-size: 20vw;
    font-weight: bold;
    color: var(--motivationcolor);
    text-shadow: 0 0 10px;
}

#cancel-break {
    padding: 20px;
}

#countdown-panel {
    padding: 10px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#break-feedback-panel {
    font-size: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* === EXERCISES === */

.exercise-presets > button:hover {
    background-color: var(--interactivitycolor);
    box-shadow: 0 0 20px var(--interactivitycolor);
    border: 1px solid transparent;
}

/* === EXERCISES : TRUE / FALSE */

.truefalse-input {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.truefalse-question {
    font-size: 24px;
    color: var(--themeShadeSuperLight);
}

.student-exercise {
    width: 50%;
    background-color: var(--themeShadeDark);
    margin-top: 10px;
    margin-bottom: 10px;
}

.truefalse-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
}

.truefalse-footer button {
    flex: 1;
    background-color: var(--themeShadeLight);
    color: var(--themeShadeBackground);
    font-weight: bold;
    border-radius: 0;
}

.truefalse-footer button:hover {
    border: 1px solid transparent;
    color: white;
}

.truefalse-footer #false:hover {
    background-color: var(--falseHover);
    box-shadow: 0 0 20px red;
    color: red;
}

.truefalse-footer #true:hover {
    background-color: var(--trueHover);
    box-shadow: 0 0 20px var(--interactivitycolor);
    color: var(--interactivitycolor);
}

.true-selected {
    background-color: var(--interactivitycolor) !important;
    box-shadow: 0 0 20px var(--interactivitycolor) !important;
    color: white !important;
}

.false-selected {
    background-color: red !important;
    box-shadow: 0 0 20px red !important;
    color: white !important;
}

.results-container {
    background-color: var(--themeShadeDark);
    border-radius: 20px;
    color: white;
    font-weight: bold;
    width: 300px;
    padding: 10px;
    max-height: 400px;
    overflow: scroll;
}

.truefalse-results-container h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.truefalse-results-bar-container {
    position: relative;
    margin-top: 30px;
    color: white;
    font-weight: bold;
}

.truefalse-results-bar {
    display: flex;
    width: 100%;
    background-color: var(--themeShade);
    border-radius: 20px;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    height: 30px;
}

#false-title {
    position: absolute;
    left: 5px;
    top: -23px;
    font-size: 18px;
    font-weight: bold;
    color: red;
    transition-duration: 1s;
}

#true-title {
    position: absolute;
    right: 5px;
    top: -23px;
    font-size: 18px;
    font-weight: bold;
    color: var(--interactivitycolor);
    transition-duration: 1s;
}

#false-results-bg {
    border-top: 30px solid red;
    border-right: 20px solid transparent;
    text-align: start;
    padding-left: 5px;
    margin-right: -20px;
    box-sizing: content-box;
    transition-duration: 1s;
}

#true-results-bg {
    border-bottom: 30px solid var(--interactivitycolor);
    border-left: 20px solid transparent;
    text-align: end;
    padding-right: 5px;
    margin-left: -20px;
    box-sizing: content-box;
    transition-duration: 1s;
}

#false-results {
    position: absolute;
    left: 5px;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 30px;
}

#true-results {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 30px;
}

/* === MULTIPLE CHOICE === */

#multiplechoice-options-results {
    text-align: start;
    color: var(--themeShadeSuperLight);
    font-weight: bold;
}

.multiplechoice-option-bar {
    height: 30px;
    background-color: var(--themeShadeBackground);
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: start;
    padding-left: 10px;
    line-height: 30px;
    position: relative;
    overflow: hidden;
}

.multiplechoice-option-bar-filled {
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    border-top: 30px solid var(--themeShadeLight);
    border-right: 20px solid transparent;
    transition-duration: 1s;
}

/* === ACTIVITIES === */
.activity-presets > button:hover {
    background-color: var(--vitalitycolor);
    box-shadow: 0 0 20px var(--vitalitycolor);
    border: 1px solid transparent;
}

.yt-progress-container {
    width: 50%;
}

.yt-progress-bar-container {
    height: 30px;
    width: 100%;
    background-color: var(--themeShadeDark);
    border-radius: 20px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
}

.yt-progress-bar {
    height: 100%;
    position: relative;
    display: block;
}

#yt-prog-1 {
    border-top: 30px solid var(--themeShade);
}

#yt-prog-2 {
    border-top: 30px solid var(--themeShadeLight);
}

#yt-prog-3 {
    border-top: 30px solid var(--themeShadeSuperLight);
}

.yt-progress-titles {
    display: flex;
    justify-content: space-between;
}

/* === FORMS === */

.error {
    font-size: 13px;
    text-align: center;
    position: absolute;
    top: -30px;
    color: red;
    width: 100%;
    left: 0;
}

.basic-item {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 230px;
}

form a {
    font-size: 13px;
    width: 100%;
    text-align: center;
    background: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    position: absolute;
    bottom: -30px;
    left: 0;
}

form a:hover {
    color: black;
}

input {
    color: var(--themeShadeSuperLight);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    border-bottom: 1px solid var(--themeShadeLight);
    background-color: var(--backgroundthemeSemiDark);
    outline: none;
}

input:focus {
    border-bottom: 1px solid var(--themeShadeSuperLight);
}

.confirmation-footer {
    margin-top: 40px;
    width: 300px;
    justify-content: space-between;
    display: flex;
    height: 60px;
}

.confirmation-footer button {
    width: 100px;
}

.validate {
    color: var(--themeShadeLight);
    background-color: var(--themeShade);
}

.validate-break:hover {
    color: var(--themeShadeSuperLight);
    background-color: var(--motivationcolor);
    box-shadow: 0 0 20px var(--motivationcolor);
    border: none;
}

.validate-exercise:hover {
    color: var(--themeShadeSuperLight);
    background-color: var(--interactivitycolor);
    box-shadow: 0 0 20px var(--interactivitycolor);
    border: none;
}

.validate-activity:hover {
    color: var(--themeShadeSuperLight);
    background-color: var(--vitalitycolor);
    box-shadow: 0 0 20px var(--vitalitycolor);
    border: none;
}
/* === OPTIONS === */

.options-list {
    width: 230px;
    background-color: var(--themeShadeDark);
    border-radius: 20px;
    height: 80%;
    position: absolute;
    left: 100px;
    overflow: hidden;
}

.options-list > button {
    display: flex;
    align-items: center;
    color: var(--themeShadeLight);
    width: 100%;
    border-radius: 0;
}

.options-list > button:hover {
    background-color: var(--themeShadeLight);
    color: white;
}

.options-list > button img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.option-selected {
    background-color: var(--themeShadeLight);
    color: white !important;
}

.option-selected img {
    filter: none;
}

.option-subpanel {
    position: absolute;
    left: 340px;
    background-color: var(--themeShadeDark);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 80%;
    padding: 20px;
    right: 20px;
    overflow: scroll;
}

#option-logs {
    font-family: monospace;
    font-weight: bold;
}

/* === PROFILE === */
.profile-container {
    width: 70%;
    margin-top: 20px;
}

.profile-welcome {
    margin-bottom: 10px;
    padding: 20px 15px 20px 15px;
    text-align: center;
}

.profile-welcome h1 {
    margin: 0;
}

.lesson-form {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.time-input-titles {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.time-input-titles div {
    width: 50%;
    color: var(--backgroundthemeDark);
    font-weight: bold;
}

.date-grid > div {
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
    background-color: var(--themeShade);
    margin: 1px;
    color: var(--themeShadeBackground);
    padding: 5px;
    overflow: scroll;
}

.day-lesson {
    background-color: var(--claritycolor);
    border-radius: 10px;
    font-size: 13px;
    padding-left: 5px;
    height: 17px;
    display: flex;
    align-items: center;
    margin-top: 16px;
    position: relative;
}

.day-lesson > p {
    position: absolute;
    font-size: 12px;
    color: white;
    margin-top: -27px;
}

.day-lesson > h1 {
    color: white;
    font-size: 13px;
    font-weight: normal;
}

.lesson-button {
    color: var(--backgroundthemeDark);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.lesson-button h1 {
    width: 100%;
    margin: 0;
    font-size: 20px;
}

.lesson-button:hover h1 {
    color: var(--bluetheme);
    text-shadow: 0 0 10px #00ccff2b;
}

.lesson-button p {
    font-size: 16px;
    width: 100%;
}

.profile-lessons button:hover {
    box-shadow: inset 5px 5px 10px var(--darkShadow), inset -5px -5px 10px var(--lightShadow);
}

.lesson-data-container {
    background-color: var(--backgroundtheme);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid var(--backgroundthemeDark);
    border-bottom: 2px solid var(--backgroundthemeDark);
    padding: 10px;
}

.m-score-background {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    z-index: 1;
    position: absolute;
}

.feedback-score {
    position: relative;
    margin-top: 7px;
    height: 20px;
}

#scoreBackground0 {
    box-shadow: 0 0 10px var(--motivationcolorhalo);
    background: linear-gradient(145deg, var(--motivationcolor), var(--motivationcolordark));
}

#scoreBackground1 {
    box-shadow: 0 0 10px var(--vitalitycolorhalo);
    background: linear-gradient(145deg, var(--vitalitycolor), var(--vitalitycolordark));
}

#scoreBackground2 {
    box-shadow: 0 0 10px var(--claritycolorhalo);
    background: linear-gradient(145deg, var(--claritycolor), var(--claritycolordark));
}

#scoreBackground3 {
    box-shadow: 0 0 10px var(--interactivitycolorhalo);
    background: linear-gradient(145deg, var(--interactivitycolor), var(--interactivitycolordark));
}

.m-score-text {
    position: absolute;
    left: 3px;
    color: #ffffff;
    top: 0;
    font-weight: bold;
    font-size: 17px;
    text-shadow: 0 0 2px #ffffff1a;
    z-index: 2;
}

#empty-slider {
    width: 100%;
    height: 20px;
    position: absolute;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px #c1c1c1, inset -2px -2px 5px #ffffff;
}

#bad-score-text {
    color: #f13636;
    text-shadow: -1px 1px var(--errorcolor);
}

#empty-text {
    color: #c3c3c3;
}

.error-message {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    color: var(--errorcolor);
    animation: light-flash 600ms;
    position: absolute;
    text-shadow: 0 0 3px #ff000059;
}

@keyframes light-flash {
    0%   {    text-shadow: 0 0 3px #ff000059;}
    50%  {    text-shadow: 0 0 10px #ff0000;}
    100% {    text-shadow: 0 0 3px #ff000059;}
}

.time-container {
    display: flex;
    flex: 1;
    font-size: 40px;
    font-weight: bold;
    position: relative;
}

.time-container button {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 0;
    line-height: 10px;
    font-size: 20px;
    font-weight: bold;
}

.time-container button:hover {
    transform: none;
    background-color: white;
    color: black;
}

#addHourButton:hover ~ #end-hour, #removeHourButton:hover ~ #end-hour {
    color: var(--bluetheme);
    text-shadow: 0 0 10px #00ccff2b;
}

#addMinuteButton:hover ~ #end-minute, #removeMinuteButton:hover ~ #end-minute {
    color: var(--bluetheme);
    text-shadow: 0 0 10px #00ccff2b;
}

#addHourButton {
    top: -30px;
    left: 7px;
    border: none;
    padding: 0;
}

#removeHourButton {
    bottom: -30px;
    left: 7px;
    border: none;
    padding: 0;
}

#addMinuteButton {
    top: -30px;
    left: 62px;
    border: none;
    padding: 0;
}

#removeMinuteButton {
    bottom: -30px;
    left: 62px;
    border: none;
    padding: 0;
}

#start-lesson-button {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0;
}

.time-input {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.time-value {
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    padding: 7px 0;
    border-radius: 7px;
    text-align: center;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--backgroundthemeDark);
}

#new-lesson-btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#new-lesson-btn:hover {
    background: var(--bluetheme);
    color: white;
}

#new-lesson-data-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

.lesson-container {
    background-color: white;
    padding: 10px 15px;
    position: relative;
}

.lesson-container h1 {
    margin: 0;
    font-size: 20px;
}

.lesson-container p {
    font-size: 14px;
    font-style: italic;
    margin-top: 2px;
}

#lesson-title {
    position: absolute;
    top: 50px;
    font-size: 40px;
    color: var(--themeShade);
}

.lesson-link {
    color: white;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    height: 13px;
    white-space: nowrap;
}

.lesson-subtitle {
    font-size: 14px;
}

.lesson-date {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 14px;
}

.lesson-motivation {
    color: var(--motivationcolor);
}

.lesson-interactivity {
    color: var(--interactivitycolor);
}

.lesson-clarity {
    color: var(--claritycolor);
}

.lesson-vitality {
    color: var(--vitalitycolor);
}

/* === DASHBOARD === */
.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
}

.top-dashboard {
    width: 100%;
    display: block;
    position: relative;
}

#lesson-time {
    margin-bottom: 20px;
}

#student-dashboard {
    margin-left: 0;
}

.anim-flash {
    animation: flash 1s linear;
}

.anim-flash-icon {
    animation: flash-icon 1s linear;
}


#student-welcome-dashboard {
    height: auto;
    margin-bottom: 10px;
    text-align: center;
}

.main-students-dashboards {
    display: flex;
    width: 100%;
    height: 400px;
    flex-wrap: wrap;
}

.main-students-dashboards > * + * {
    margin-left: 10px;
}

.student-dashboard {
    flex: 1;
    padding: 6px 10px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.dashboard-side-col-container {
    width: 30%;
}

.dashboard-main-col-container {
    width: 70%;
}

.dashboard-side-col {
    display: flex;
    flex-wrap: wrap;
    padding-right: 5px;
}

.dashboard-main-col {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
}

.welcome-board {
    width: 100%;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 5px;
    position: relative;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    display: flex;
}

#copy-feedback {
    display: none;
    position: absolute;
    right: 3px;
    bottom: 75px;
    background-color: #ffffffad;
    padding: 7px;
    border-radius: 5px;
}

#copy-feedback div {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffffad;
    position: absolute;
    bottom: -10px;
    left: calc(50% - 10px);
}

.dashboard-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.manual-feedbacks-container {
    width: 70%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    margin-top: 6px;
}

.manual-feedbacks-container button {
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.manual-feedbacks-container button:hover {
    border: none;
}

.manual-feedbacks-container .neg:hover {
    color: var(--themeShadeSuperLight);
    background-color: var(--themeShadeLight);
    box-shadow: 0 0 20px var( --themeShadeLight);
}

.manual-feedbacks-container .pos:hover {
    color: white;
    background-color: var(--positiveFeedback);
    box-shadow: 0 0 20px var(--positiveFeedback);
}

.manual-feedbacks-container .progress-bar {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: 30s;
    transition-timing-function: linear;
    background-color: var(--themeShadeLight);
    opacity: 0.4;
}

.welcome-board-footer {
    position: absolute;
    bottom: 0;
    top: 60px;
    left: 7px;
    right: 7px;
    display: flex;
}

.welcome-board-panel {
    border-radius: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    right: 0;
    padding: 10px;
}

.welcome-board-button-panel {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.welcome-board-button-panel button {
    width: 30px;
    height: 30px;
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-board-button-panel button:hover img {
    filter: brightness(0.5);
}

.welcome-board-button-panel img {
    filter: brightness(0.7);
}

#popup-logs-container {
    width: 80%;
    font-family: monospace;
    font-weight: bold;
    color: black;
    max-height: 90%;
    overflow: scroll;
}

.option {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.option-btn {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.option-btn img {
    height: 80%;
}

.code-container {
    display: flex;
    justify-content: space-between;
}

.code-container button {
    width: 50px;
    height: 50px;
    padding: 0;
}

.code-cell {
    font-size: 80px;
    font-weight: bold;
    color: var(--themeShadeSuperLight);
    margin-top: -30px;
    margin-bottom: 10px;
}

#qrcode {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#qrcode img {
    width: 250px;
    height: 250px;
}

#close-qr {
    width: 100%;
}

.switch {
    width: 40px;
    border-radius: 40px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    padding: 0;
}

.switch:hover {
    transform: none;
    border: none;
}

.knob {
    width: 34px;
    height: 34px;
    position: absolute;
    border-radius: 25px;
    background-color: var(--offcolor);
    margin: 3px;
    bottom: 0;
    transition-duration: 0.5s;
    box-shadow: 0 0 10px var(--errorcolor);
}

.switch:hover .knob {
}

.switch-title {
    font-size: 18px;
    font-weight: bold;
}

#details-text {
    font-size: 14px;
}

.access-panel-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 65px;
    right: 0;
    top: 7px;
    bottom: 7px;
}

#share-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#share-panel h1 {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--textColor);
    color: var(--backgroundtheme);
    width: fit-content;
    align-self: center;
    padding: 1px 10px;
    border-radius: 3px;
    margin-top: 10px;
}

#share-panel a {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 3px;
}

#options-panel {
    height: 100%;
    flex-direction: column;
    overflow: visible;
}

#access-panel {
    display: block;
    position: relative;
    height: 100%;
}

#students-panel {
    position: relative;
    padding-left: 7px;
    padding-right: 7px;
    height: 100%;
}

.students-panel-title {
    width: 100%;
    text-align: center;
}

.questions-board {
    width: 100%;
    height: 150px;
    margin-top: 5px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

#questions-list {
    text-align: start;
    flex: 1;
}

#question-answer-input {
    margin: 0;
    width: 100%;
}

.questions-arrow {
    width: 30px;
    padding: 0;
}

.one-line-form-container {
    position: relative;
    height: 50px;
    padding: 0;
    width: 50%;
    background-color: var(--themeShadeDark);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.one-line-form-container button {
    border-radius: 5px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    top: 5px;
    width: 70px;
}

.one-line-form-container input {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    padding-right: 90px;
    color: var(--themeShadeSuperLight);
}

.questions-container {
    flex: 1;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    overflow: scroll;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    background-color: var(--themeShadeDark);
}

.author-input {
    border-radius: 10px;
    width: 50%;
    height: 50px;
    line-height: 50px;
    font-style: italic;
}

.question-input {
    background-color: var(--themeShade);
    border-radius: 10px;
    width: 50%;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.answer {
    border-radius: 5px;
    padding: 1px 5px;
    font-weight: bold;
    color: var(--themeShadeSuperLight);
    background-color: var(--themeShadeDark);
}

#question-container-teacher {
    flex: 1;
    color: var(--themeShadeLight);
    display: flex;
    margin-top: 10px;
}

#question-feedback-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--themeShadeBackground);
}

#question-pending {
    font-style: italic;
    color: #a9a9a9;
    line-height: 30px;
}

.question-anon-container {
    color: #a9a9a9;
    padding-right: 25px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

#anon-checkbox {
    cursor: pointer;
}

#no-questions {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#question-name-input {
    display: none;
    position: absolute;
    bottom: -40px;
}

#answered-question-popup {
    display: none;
}

.question-text {
    color: black;
    font-weight: bold;
    display: inline;
}

.submit-button {
    background-color: var(--bluetheme);
    border-radius: 15px;
    color: white;
    margin: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

#question-footer {
    display: flex;
    justify-content: space-between;
}

.question-author {
    font-weight: bold;
    color: var(--bluetheme);
    display: inline;
}

#question-pages {
    display: flex;
    align-items: center;
    gap: 10px;
}

.monitoring-board {
    width: 100%;
    height: 310px;
    margin-bottom: 5px;
    position: relative;
    padding: 10px;
    display: flex;
}

#student-monitoring {
    width: calc(50% - 5px);
    margin-bottom: 0;
    margin-right: 5px;
}

.monitor-sub-container {
    overflow: scroll;
    height: 100%;
}

#monitor-classroom {
    display: none;
    position: relative;
    width: 100%;
    justify-content: center;
}

#switch-panel-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

#student-grid {
    position: absolute;
    top: 50px;
    left: 10px;
    right: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 85px);
    grid-gap: 10px;
    justify-content: center;
}

#student-grid > div {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.students-pair {
    background-color: var(--themeShadeDark);
    border: 1px solid var(--themeShade);
    padding: 3px;
    border-radius: 50px;
}

.students-pair-alone {
    padding: 3px;
    border-radius: 50px;
}

.student {
    background-color: #b5b5b5;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100%;
    height: 35px;
    width: 35px;
}

#empty-classroom {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

#empty-classroom img {
    filter: brightness(0) saturate(100%) invert(34%) sepia(10%)
    saturate(1033%) hue-rotate(184deg) brightness(89%) contrast(90%);
    height: 60px;
    margin-top: 50px;
    margin-bottom: 10px;
}

#me {
    background-color: var(--claritycolor);
}

.student:hover {
    font-weight: bold;
}

.chart-container {
    top: 30px;
    bottom: 0;
    left: 10px;
    right: 10px;
    position: absolute;
}

#zoom-in, #zoom-out {
    position: absolute;
    top: 50px;
    right: 10px;
}

.interactions-board {
    width: 100%;
    border-radius: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.interaction-button {
    min-width: 140px;
    height: 70px;
    position: relative;
    z-index: 2;
    margin: 0;
}

#inter-form {
    padding: 0;
    width: auto;
    border: none;
    border-radius: 0;
    background: none;
    height: auto;
    margin: 0;
}

.interaction-title {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
}

.interaction-button:hover .interaction-title {
    color: white;
}

.interaction-subtitle {
    width: 100%;
    background-color: var(--backgroundthemeDark);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 20px;
}

#inter-break {
    color: var(--motivationcolor);
}

#inter-break .interaction-subtitle {
    background-color: var(--motivationcolor);
}

#inter-break:hover {
    background: var(--motivationcolor);
}

#inter-exercise {
    color: var(--interactivitycolor);
}

#inter-exercise .interaction-subtitle {
    background-color: var(--interactivitycolor);
}

#inter-exercise:hover {
    background: var(--interactivitycolor);
}

#inter-board {
    color: var(--claritycolor);
}

#inter-board .interaction-subtitle {
    background-color: var(--claritycolor);
}

#inter-board:hover {
    background: var(--claritycolor);
}

#inter-activity {
    color: var(--vitalitycolor);
}

#inter-activity .interaction-subtitle {
    background-color: var(--vitalitycolor);
}

#inter-activity:hover {
    background: var(--vitalitycolor);
}

.chat-board {
    background-color: white;
    border-radius: 20px;
    position: relative;
    width: calc(50% - 5px);
    margin-left: 5px;
    padding: 10px;
}

#chat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#chat-container h1 {
    color: #d8d8d8;
}

#chat-container h2 {
    font-size: 13px;
    margin: 0;
    color: var(--bluetheme);
}

.chat {
    flex: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 50%;
}

#chat-messages {
    flex: 1 1 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 10px;
    overflow: scroll;
}

#welcome-chat {
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}

.message-left {
    background-color: var(--themeShade);
    padding: 5px 7px 5px 7px;
    border-radius: 10px 10px 10px 0;
    max-width: 80%;
    margin-bottom: 10px;
    word-wrap: break-word;
    align-self: flex-start;
    color: var(--themeShadeLight);
    text-align: start;
}

.message-right {
    background-color: var(--themeShadeLight);
    padding: 5px 7px 5px 7px;
    border-radius: 10px 10px 0 10px;
    max-width: 80%;
    align-self: flex-end;
    margin-bottom: 10px;
    word-wrap: break-word;
    color: var(--themeShadeSuperLight);
    text-align: end;
}

.message-input {
    display: block;
    padding: 0;
    width: 100%;
    border-radius: 0;
    position: initial;
}

#close-chat-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}

#open-chat-btn {
    background-color: var(--bluetheme);
    position: absolute;
    right: 10px;
    top: 30px;
    z-index: 999;
}

#no-neighbour-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--backgroundthemeDark);
}

#chat-send-button {
    position: absolute;
    right: 11px;
    height: 30px;
    bottom: 7px;
}

/* === POPUPS === */

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
}

#close-popup {
    width: 30px;
    height: 30px;
    align-self: flex-end;
    margin-bottom: 20px;
    color: var(--textColor);
    line-height: 0px;
}

#close-popup:hover {
    background: var(--errorcolor);
    color: white;
    box-shadow: inset 5px 5px 10px var(--errorcolorDark), inset -5px -5px 10px var(--errorcolorLight);
}

.neg-button:hover {
    background: var(--errorcolor);
    color: white;
}

.neg-button:hover img {
    filter: brightness(1);
}


.popup-titles {
    display: flex;
    align-items: center;
}

.popup-titles img {
    height: 50px;
}

.popup-titles h1 {
    color: var(--bluetheme);
    font-size: 20px;
    margin: 0;
}

.popup-titles p {
    font-size: 16px;
}

.popup-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popup-container > img {
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.popup-content {
    padding: 20px;
}

.popup-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
}

.popup-footer button {
    width: 40%;
    margin:0;
}

#break-popup {
    display: none;
}

#break-in-progress-popup {
    display: none;
}

#break-input {
    width: 50px;
    text-align: end;
    border: none;
    border-bottom: 2px solid rgb(255 145 0);
    color: rgb(255 145 0);
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    border-radius: 0px;
    margin: 0;
}

#break-timer {
    color: rgb(255 145 0);
    font-weight: bold;
    font-size: 40px;
    margin-bottom: -10px;
}

#break-feedback-popup {
    display: none;
}

.exercise-popup-container {
    width: 100%;
    text-align: center;
}

.element-list {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 40px;
    overflow: scroll;
    height: 100%;
    padding: 15px;
}

.element-thumbnail {
    background: none;
    box-shadow: none;
    padding: 0;
    border: none;
}

.element-thumbnail img {
    width: 100%;
    filter: brightness(1);
    opacity: 0.4;
    transition-duration: 200ms;
}

.element-thumbnail:hover img {
    filter: brightness(1);
    opacity: 1;
}

.element-thumbnail:hover {
    transform: none;
    border: none;
    box-shadow: none;
}

.element-thumbnail p {
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    transition-duration: 200ms;
}

.exercise-thumb:hover p {
    color: var(--interactivitycolor);
}

.activity-thumb:hover p {
    color: var(--vitalitycolor);
}

.exercise-solution-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exercise-solution-feedback button {
    margin-top: 10px;
    width: 100%;
}

.element-selection {
    position: absolute;
    top: -25px;
    font-style: italic;
    width: 100%;
    text-align: center;
}

.ex-selected {
    color: var(--interactivitycolor);
}

.activity-selected {
    color: var(--vitalitycolor);
}

.activity-selected img, .ex-selected img {
    opacity: 1;
}

#exercise-popup-edit-truefalse, #exercise-popup-truefalse {
    display: none;
}

.exercise-content {
    border: 2px solid var(--interactivitycolor);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: white;
}

#exercise-solution {
    background-color: var(--interactivitycolor);
    color: white;
}

.exercise-container {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#student-answer {
    color: var(--interactivitycolor);
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
}

.exercise-question-container {
    margin: 10px;
    text-align: start;
    font-size: 18px;
}

.solution-text-container {
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: start;
    line-height: 22px;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 5px 10px 23px;
    position: relative;
}

#expected-label {
    position: absolute;
    font-size: 10px;
    font-style: italic;
    left: 3px;
}

#actual-label {
    position: absolute;
    font-size: 10px;
    font-style: italic;
    left: 53px;
}

.solution {
    position: relative;
    display: flex;
    align-items: center;
}

.solution .checkbox {
    margin: 10px;
    border-radius: 5px;
    --stroke: white;
    height: 21px;
    width: 21px;
}

.solution .checkbox svg {
    position: relative;
}

.class-percentage {
    position: absolute;
    font-style: italic;
    font-size: 14px;
    font-weight: normal;
    bottom: 3px;
    left: 10px;
    color: #ffffff96;
}

.truefalse-solution {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#multiplechoice-question {
    margin-top: 10px;
    width: 50%;
}

.multiplechoice-solution {
    display: block;
    width: 100%;
}

#multiplechoice-options {
    max-height: 200px;
    overflow: scroll;
    margin-bottom: 10px;
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
}

.multiplechoice-option {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.student-options {
    margin-bottom: 0;
    height: 40px;
    padding-left: 30px;
}

.multiplechoice-option input {
    margin-left: 60px;
    flex: 1;
    margin-right: 10px;
    background-color: var(--themeShadeDark);
    height: 50px;
}

.multiplechoice-option button {
    width: 50px;
    height: 50px;
    padding: 0;
    background: none;
}

.truefalse-solution p {
    position: absolute;
    top: -23px;
    font-style: italic;
    text-align: center;
    width: 100%;
}

.truefalse-selected {
    background: linear-gradient(145deg, var(--bluetheme), var(--bluethemeDark));
    font-weight: bold;
    color: white;
}

#true, #false {
    width: 40%;
    height: 50px;
}

#results-container {
    width: 50%;
    height: 50px;
    margin: 30px;
    position: relative;
}

#pi-results {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--themeShade);
    border-radius: 10px;
    position: relative;
}

#pi-results div {
    width: 2px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
}

#results-average {
    transition-duration: 1s;
}

.marker {
    position: absolute;
    top: -22px;
    font-weight: bold;
}

.pi-average {
    position: absolute;
    bottom: -35px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    color: var(--themeShadeLight);
}

#pi-average {
    color: var(--vitalitycolor);
    display: inline;
}

#pi-footer {
    display: block;
}

#pi-footer p {
    text-align: start;
    font-size: 14px;
}

#pi-footer button {
    width: 100%;
    margin-bottom: 5px;
}

.pi-group {
    width: 100%;
    background-color: var(--themeShadeDark);
    border-radius: 50px;
    display: flex;
    padding: 7px;
    overflow: scroll;
}

.pi-group > div{
    border-radius: 50px;
    padding: 9px;
    font-weight: bold;
    border: 1px solid var(--themeShade);
    color : white;
    margin-right: 5px;
    width: 45px;
    height: 45px;
}

.pi-dot {
    border-radius: 50px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#inter-exercise-ongoing {
    display: none;
}

.inter-ongoing-list {
    position: absolute;
    background-color: var(--interactivitycolor);
    border-radius: 10px;
    padding-top: 75px;
    top: 0;
    width: 100%;
    z-index: 1;
    display: none;
}

#inter-exercise-ongoing {
    display: none;
    width: 100%;
    height: 100%;
    padding-top: 2px;
    flex-direction: column;
    padding-bottom: 5px;
}

#inter-exercise-ongoing > h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 12px;
    margin-bottom: 5px;
    position: relative;
}

.ongoing-dot {
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    top: 2px;
    right: 2px;
    box-shadow: 0 0 5px red;
    animation: blinker 2s linear infinite;
}

.ongoing-item {
    background-color: white;
    border-radius: 10px;
    padding: 3px 5px;
    position: relative;
    display: block;
    flex: 1;
}

.ongoing-item > h1 {
    color: black;
    font-size: 15px;
}

.ongoing-item > a {
    width: 100%;
    text-align: end;
    display: block;
    font-size: 12px;
    color: var(--interactivitycolor);
    cursor: pointer;
}

@keyframes blinker {
    50% {
        box-shadow: 0 0 10px transparent;
        background-color: #ff5454;
    }
}

@keyframes flash {
    20% {
        box-shadow: 0 0 10px var(--bluetheme);
    }
}

@keyframes flash-icon {
    20% {
        filter: brightness(1);
    }
}

.tab-menu {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    gap: 10px;
}

.tab-menu > * + * {
    margin-left: 10px;
}

.tab-item {
    flex: 1;
}

.tab-selected {
    color: white;
    background: linear-gradient(145deg, var(--bluetheme), var(--bluethemeDark)) !important;
    box-shadow: inset 2px 2px 10px #0491ce, inset -2px -2px 10px #c9f1fb !important;
}

/* === RESPONSIVE SCREEN DISPLAYS === */

@media screen and (max-width: 1000px) {
    .main-panel {
        left: 50px;
    }

    .options-list {
        left: 50px;
    }

    .option-subpanel {
        left: 290px;
    }
}

@media screen and (max-width: 600px) {

    .nav-menu {
        flex-direction: initial;
        top: 10px;
        height: auto;
        width: 100%;
        left: 0;
    }

    .main-panel {
        left: 0;
        top: 80px;
    }

    .half-board-container {
        width: 100%;
        margin-right: 10px;
        margin-left: 10px;
        max-width: none;
    }

    .board {
        width: 100%;
        margin: 10px 10px 150px;
    }

    .profile-container {
        width: 90%;
        margin-top: 20px;
    }

    .profile-lessons {
        grid-template-columns: 1fr;
    }

    #logo {
        width: 80%;
    }

    #lesson-title {
        position: relative;
        margin-bottom: 20px;
        top: 0;
    }

    #subtitle {
        width: 80%;
    }

    .dashboard-container {
        width: 90%;
        margin-left: 0;
        top: 80px;
        position: absolute;
    }

    #student-dashboard {
        top: 20px;
    }

    .student-dashboard {
        width: 100%;
        flex: none;
    }

    .questions-container {
        width: 90%;
    }

    .author-input {
        width: 90%;
    }

    .one-line-form-container {
        width: 90%;
    }

    .student-exercise {
        width: 90%;
    }

    #multiplechoice-question {
        width: 90%;
    }

    #multiplechoice-options {
        width: 90%;
    }

    #student-monitoring {
        width: 100%;
        margin-bottom: 5px;
        margin-right: 0;
    }

    .chat-board {
        width: 100%;
        margin-left: 0;
        margin-top: 5px;
        margin-bottom: 50px;
    }

    .chat {
        width: 90%;
    }
}

/* === CHECKBOX === */
.checkbox {
    --background: var(--themeShadeDark);
    --border: var(--themeShadeLight);
    --border-hover: var(--themeShade);
    --border-active: var(--themeShadeLight);
    --tick: var(--themeShadeDark);
    position: relative;
}

.checkbox input, .checkbox svg {
    width: 50px;
    height: 50px;
    display: block;
}

.checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background-color: var(--background);
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 10px;
    transition: box-shadow 0.3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
}

.checkbox input[type=checkbox] {
    position: absolute;
    margin-left: -20px;
    outline: none;
}

.checkbox input:hover {
    --s: 2px;
    --b: var(--border-hover);
}

.checkbox input:checked {
    --b: var(--border-active);
}

.checkbox svg {
    pointer-events: none;
    fill: none;
    stroke-width: 7px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 4px;
    left: 0;
    width: 40px;
    height: 40px;
    transform: scale(var(--scale, 1)) translateZ(0);
}

.checkbox.bounce {
    --stroke: var(--tick);
    position: absolute;
    right: 0;
    bottom: 10px;
}

.checkbox.bounce input:checked {
    --s: 25px;
}

.checkbox.bounce input:checked + svg {
    animation: bounce 0.4s linear forwards 0.2s;
    margin-left: -16px;
}

.checkbox.bounce svg {
    --scale: 0;
}

@keyframes bounce {
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

/* === SPINNER LOADER === */
.lds-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid white;
    border-radius: 50%;
    animation: lds-ring 1.2s linear infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        border-color: var(--interactivitycolor) transparent transparent transparent;
        transform: rotate(0deg);
    }
    25% {
        border-color: var(--claritycolor) transparent transparent transparent;
        transform: rotate(90deg);
    }
    50% {
        border-color: var(--vitalitycolor) transparent transparent transparent;
        transform: rotate(180deg);
    }
    75% {
        border-color: var(--motivationcolor) transparent transparent transparent;
        transform: rotate(270deg);
    }
    100% {
        border-color: var(--interactivitycolor) transparent transparent transparent;
        transform: rotate(360deg);
    }
}

/* DATE UTILS */
/* The grid */
.day-of-week,
.date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}